/* .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.item {
  width: calc(33.33% - 20px);
  margin: 10px;
}

@media (max-width: 768px) {
  .item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .item {
    width: 100%;
  }
} */

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.itemsList {
  list-style-type: none;
  padding: 0;
}
