.container {
  padding: 0 200px 50px 200px;
}

.image {
  max-width: 19rem;
  height: 12rem;
  margin-right: 10px;
  float: left;
}

h1 {
  text-align: center;
}

.content p {
  text-align: justify;
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 10px;
  }
  .image {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px auto;
    float: none;
  }
}
