.container {
  max-width: 400px;
  margin: 3rem auto 3rem auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 80px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.submitButton:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 3rem auto 2rem auto;
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 20px auto 20px auto;
    padding: 0 20px;
  }
  .form {
    width: 95%;
  }
  .formGroup {
    margin-bottom: 15px;
  }

  input,
  textarea {
    padding: 8px;
  }

  .submitButton {
    padding: 8px 16px;
  }
  .h1 {
    margin-top: 0;
  }
}
