.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.password-container {
  position: relative;
}

.passwordToggleButton {
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333333;
  transition: color 0.3s;
  font-size: 20px;
}

.passwordToggleButton:hover {
  color: #011afd;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #fd6500;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #a34507;
}

.create {
  cursor: pointer;
  color: blueviolet;
  font-weight: 700;
}
