.productPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 200px;
}

.productImages {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.inImage {
  width: 100px;
  height: 130px;
  margin-top: 5px;
  margin-right: 1rem;
  cursor: pointer;
}

.outImage {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.productDetails {
  margin-left: 2rem;
}

.cardDetails {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.productInfo {
  margin-bottom: 1rem;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.infoLabel {
  font-weight: bold;
  margin-right: 0.5rem;
}

.add-to-cart__amount {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.add-to-cart__amount button {
  padding: 5px;
  border: none;
  background-color: #f37831;
  color: #ffffff;
  cursor: pointer;
  width: 25px;
}

.add-to-cart__amount span {
  font-weight: bold;
  font-size: 16px;
  width: 30px;
  text-align: center;
  padding: 0 5px;
}

.addToCartButton {
  background-color: #ff9f00;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: #e28900;
}

@media screen and (max-width: 1024px) {
  .productPage {
    padding: 2rem;
    flex-direction: column;
    max-width: 100%;
  }
  .productImages {
    width: 300px;
    align-items: flex-end;
  }
  .productDetails {
    margin-left: 0;
    text-align: center;
  }
  .inImage {
    width: 100px;
    height: 130px;
  }

  .outImage {
    width: 200px;
    height: 300px;
  }
  .addToCartButton {
    margin-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .productDetails {
    margin-left: 0;
    text-align: center;
  }
  .inImage {
    width: 40px;
    height: 60px;
  }

  .outImage {
    width: 150px;
    height: 200px;
  }

  .cardDetails {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .addToCartButton {
    margin-top: 5px;
  }
}
