.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.itemsList {
  list-style-type: none;
  padding: 0;
}
