.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.itemsList {
  list-style-type: none;
  padding: 0;
}

/* Responsive Styles */

@media screen and (max-width: 1024px) {
  .itemsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .itemContainer {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .itemsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .itemContainer {
    width: 100%;
  }
}
