.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle:hover {
  color: rgb(255, 0, 119);
  font-weight: bold;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
}
.dropdownIcon {
  margin-right: 8px;
}

.activeNavLink {
  color: rgb(255, 0, 119);
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s;
  cursor: pointer;
}
