.navbar {
  background-color: #0400ff;
  padding: 10px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.navbarNav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-right: 10px;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.activeNavLink {
  color: black;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s;
  cursor: pointer;
}
.navLinkCart {
  display: flex;
  align-items: center;
}
.cart {
  position: relative;
  margin-right: 5px;
}

.cartIcon {
  font-size: 25px;
}

.cartNumber {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(255, 0, 119);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 50%;
}

.navLink:hover {
  color: #0c0c0c;
}
